---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1 class="text-4xl font-bold">Coltongo</h1>
	<p class="text-lg">
		Coltongo, el mundo de minecraft que siempre soñaste.
	</p>
</Layout>
